<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natal Chart Input</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</head>

<body>
    <div class="container">
        <div class="section">
            <h1 class="title">Mapa Astral</h1>
            <form onsubmit="calculate(); return false;">
                <input type="text" id="name" placeholder="Name" value="John Doe" required>
                <input type="date" id="birthdate" value="1990-06-25" required>
                <input type="time" id="birthtime" value="22:15" required>
                <input type="text" id="city" placeholder="City" value="São Paulo" required>
                <input type="text" id="nation" placeholder="Nation" value="Brazil" required>
                <input type="text" id="timezone" placeholder="Timezone" value="America/Sao_Paulo" required>
                <label class="label" for="options">Método:</label>
                <select id="method" name="options">
                    <option value="traditional" >Astrologia Tradicional (12 Signos)</option>
                    <option value="hermetic" >Astrologia Hermética (24 Signos)</option>
                    <option value="angels" selected>Anjos Cabalísticos (72 Signos)</option>
                </select>
                <button type="submit">Calculate</button>
            </form>
        </div>
    </div>
</body>

</html>